/* referenced FunFacts Chrome extension https://chrome.google.com/webstore/detail/funfacts/mblmhpinekmkfpnhjaaelgkhloeglnkk */
body {
    color: black;
}

form {
    padding: 5% 15% 3% 10%;
}


#searchBar{
    background-color:rgb(230, 230, 230);
    color: black;
    font-size: 1rem;

    border-color:rgba(128, 128, 128, 0.685);
    border-radius: 3rem;
    padding: 1.25rem;
}

input#searchBar{
    color: black;
}

#searchBar:focus{
    outline: 1px;
}

#searchButton{
    background-color: white;
    font-size: 1rem;

    margin-left: .5rem;

    border-radius: 2rem;
    
    border: none;
    
    display: none;
}

#searchButton:hover{
    border-color: black;
}

.round {
    border-radius: 10px;
}

#dinoThumbnail {
    /* filter: invert(100%); */
    position: absolute;
    bottom: 5px;
    right: 10px;
}